#root {
    overflow: hidden;
}

@font-face {
    font-family: 'TypoRoundBold';
    src: local('TypoRoundBold'), url('/src/fonts/TypoRoundBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
